
<section class="introsection"  class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s" >
    <div class="divcontent">
      <div class="content">
        <h1>Hi,Welocome To RSCLNY</h1>
        <h3>
          Join us and see how a simple action on your part <br> can make a big
          difference in our world.
        </h3>
        <a  href=" home.html" class="join"> Join</a>
      </div>
      <img class="ard" src="./images/download (1).png">
    </div>
    <img class="walad" src="./images/Throw down-pana.png">
    <img  class="greeen" src="./images/WhatsApp_Image_2024-08-26_at_01.39.16_2b3fe619-removebg-preview.png">
  </section>
