.h-cont{
    height: 80vh;
    width: 89vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.h-img{
    width: 60vw;
}

.home-txt h1{
    font-size: 4.4rem;
    color: #164C24;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 40px;
}
.home-txt p{
    font-size: 1.4rem;
    color:#288C36;
}
.home-txt{
    text-align: left;
    gap: 4px;
}